<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Blog</title>
    {% endif %}

    <link rel="stylesheet" href="../static/reset.css">
</head>
<body>
    <div>
        <nav>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('users.account') }}">Account</a>
                <a href="{{ url_for('users.logout') }}">Sign Out</a>
            {% else %}
                <a href="{{ url_for('users.login') }}">Sign In</a>
                <a href="{{ url_for('users.registration') }}">Sign Up</a>
            {% endif %}
        </nav>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>